
.listing {
  border-left: 1px solid #BDC3C7;
  border-right: 1px solid #BDC3C7;
  border-bottom: 1px solid #BDC3C7;

  width: 40%;
  padding: 15px;
  background-color: white;
  height: 700px;
}

.header {
  margin-bottom:10px;
  justify-content: center;
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
}

.img {
  border-radius: 5px;
  margin:10px;
  height: 100px;
  width: 100px;
  background-color:#D2B4DE
}

.description {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 10px 0px 10px;
  margin:10px;
  width: 80%;
  /* border: 1px solid black; */
}

.info {
  /* border: 1px solid black; */
  margin: 5px 0px 5px 0px;
}

.listing a {
  text-decoration: none;
  background-color: #EBECF0;
  box-shadow: -2px -2px 8px #FFF,  2px 2px 8px #BABECC;
  color: #566573;
  line-height: 40px;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 10px;
  height: 40px;
  width: 140px;
  margin: 0px 20px 0px 20px;
  transition: all 0.2s ease-in-out;
}
.listing a:hover {
  box-shadow: -2px -2px 2px #FFF, 2px 2px 2px #BABECC;
}

.role-description {
  border: 1px solid #BDC3C7;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  overflow-y: scroll;
  height: 450px;
}
